/* Обычный 300 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto'),
    url('../fonts/Roboto-Regular.ttf') format('ttf');
}
/* Жирный 800 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src: local('Roboto'),
    url('../fonts/Roboto-Bold.ttf') format('ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
html {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
}
body {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edeef0;
}
.header {
    width: 100%;
    height: 48px;
    background: rgb(255, 255, 255);
    border-bottom: rgb(220, 225, 230) 1px solid;
    position: fixed;
    z-index: 999;
}
.header-frame {
    margin: 0 auto;
    width: 960px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header-logo {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2224%22%20width%3D%22136%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%2011.5c0-5.42%200-8.13%201.68-9.82C3.37%200%206.08%200%2011.5%200h1c5.42%200%208.13%200%209.82%201.68C24%203.37%2024%206.08%2024%2011.5v1c0%205.42%200%208.13-1.68%209.82C20.63%2024%2017.92%2024%2012.5%2024h-1c-5.42%200-8.13%200-9.82-1.68C0%2020.63%200%2017.92%200%2012.5z%22%20fill%3D%22%232787f5%22%2F%3E%3Cg%20clip-rule%3D%22evenodd%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M6.5%207.5H4.75c-.5%200-.6.24-.6.5%200%20.46.6%202.76%202.76%205.8%201.45%202.07%203.49%203.2%205.34%203.2%201.11%200%201.25-.25%201.25-.68v-1.57c0-.5.1-.6.46-.6.26%200%20.7.13%201.74%201.13%201.19%201.19%201.38%201.72%202.05%201.72h1.75c.5%200%20.75-.25.6-.74-.15-.5-.72-1.2-1.47-2.05-.4-.49-1.02-1-1.2-1.26-.26-.34-.2-.49%200-.78%200%200%202.13-3%202.35-4.03.11-.37%200-.64-.53-.64H17.5a.76.76%200%2000-.76.5s-.9%202.16-2.15%203.57c-.41.41-.6.54-.82.54-.1%200-.27-.13-.27-.5V8.14c0-.44-.13-.64-.5-.64h-2.75c-.28%200-.45.2-.45.4%200%20.42.64.52.7%201.7v2.58c0%20.57-.1.67-.32.67-.6%200-2.04-2.18-2.9-4.67-.16-.48-.33-.68-.78-.68z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M66.86%2012.5c0%203.24-2.43%205.5-5.78%205.5s-5.78-2.26-5.78-5.5S57.73%207%2061.08%207s5.78%202.26%205.78%205.5zm-8.97%200c0%201.97%201.3%203.3%203.19%203.3s3.19-1.33%203.19-3.3c0-1.98-1.3-3.25-3.19-3.25s-3.19%201.28-3.19%203.25zm-17.14-.21c.95-.44%201.56-1.18%201.56-2.33%200-1.73-1.58-2.96-3.87-2.96h-5.27v11h5.5c2.37%200%204.02-1.29%204.02-3.05%200-1.33-.87-2.32-1.94-2.66zM35.6%209.01h2.83c.85%200%201.44.5%201.44%201.2s-.6%201.2-1.44%201.2h-2.83zM38.67%2016h-3.06V13.3h3.06c.96%200%201.59.55%201.59%201.36s-.63%201.33-1.59%201.33zM51.84%2018h3.19l-5.06-5.71L54.61%207h-2.9l-3.68%204.27h-.6V7H45v11h2.44v-4.38h.59zM76.47%207v4.34h-4.93V7H69.1v11h2.43v-4.44h4.93V18h2.43V7zM86.9%2018h-2.44V9.22h-3.8V7H90.7v2.22h-3.8zm9.5-11c-2.11%200-3.91.89-4.52%202.8l2.24.37c.34-.67%201.05-1.2%202.15-1.2%201.33%200%202.06.84%202.17%202.28h-2.32c-3.23%200-4.79%201.42-4.79%203.45%200%202.05%201.59%203.3%203.78%203.3%201.8%200%203-.72%203.53-1.63l.5%201.63h1.76v-6.18c0-3.19-1.74-4.82-4.5-4.82zm-.72%209c-1.19%200-1.9-.5-1.9-1.4%200-.85.57-1.44%202.43-1.44h2.35c0%201.8-1.19%202.84-2.88%202.84zm17.99%202h-3.2l-3.8-4.38h-.6V18h-2.43V7h2.43v4.27h.6L110.34%207h2.9l-4.63%205.29zm3.88%200h2.43V9.22h3.8V7h-10.04v2.22h3.8zM130.1%207c3.34%200%205.56%202.4%205.56%205.37%200%20.3-.02.55-.04.79h-8.54c.23%201.69%201.36%202.69%203.17%202.69%201.29%200%202.15-.4%202.68-1.2l2.29.39c-.88%202.01-2.83%202.96-5.12%202.96a5.28%205.28%200%2001-5.51-5.5c0-3.12%202.17-5.5%205.51-5.5zm2.92%204.25c-.4-1.37-1.4-2.15-2.92-2.15-1.48%200-2.47.74-2.87%202.15z%22%20fill%3D%22%2319191a%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    background-size: auto 24px;
    background-repeat: no-repeat;
    width: 165px;
    height: 100%;
    display: flex;
    align-items: center;
    background-position: center left;
    margin: 0 0 0 -2px;
}
.header-search {
    background-color: #edeef0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    margin-right: 16px;
}
.header-search__icon {
    height: 32px;
    width: 32px;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.92%22%3E%3Cpath%20opacity%3D%22.1%22%20d%3D%22M0%200H16V16H0z%22%2F%3E%3Cpath%20d%3D%22M6.5%201a5.5%205.5%200%200%201%204.383%208.823l3.896%203.9a.75.75%200%200%201-1.061%201.06l-3.895-3.9A5.5%205.5%200%201%201%206.5%201zm0%201.5a4%204%200%201%200%200%208%204%204%200%200%200%200-8z%22%20fill%3D%22%23818c99%22%20fill-rule%3D%22nonzero%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    background-position: 10px;
    background-repeat: no-repeat;
}
.header-search__input {
    font-size: 13px;
    width: 230px;
    background-color: inherit;
    border: none;
    outline: none;
}
.header-icons {
    margin-right: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.header-icon {
    width: 48px;
    height: 47px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8px;
    margin-bottom: 1px;
}
.header-icon:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
.header-icon__bell {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2224%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M12%202.1c4%200%206.9%203.3%206.9%207.5v1.6c0%20.3.2.6.7%201.1l.3.3c1%201%201.5%201.7%201.5%202.7%200%20.5%200%20.8-.3%201.2-.4%201-1.4%201.4-2.8%201.4h-2c-.6%202.3-2%203.6-4.3%203.6-2.2%200-3.8-1.3-4.4-3.7v.1H5.7c-1.5%200-2.4-.5-2.9-1.4-.2-.4-.2-.7-.2-1.2%200-1%20.4-1.6%201.5-2.7l.3-.3c.5-.5.7-.8.7-1V9.5C5.1%205.4%208%202.1%2012%202.1zm2.5%2015.8h-5c.5%201.2%201.3%201.8%202.5%201.8s2-.6%202.5-1.8zM12%203.9c-3%200-5.1%202.4-5.1%205.7v1.6c0%20.9-.4%201.5-1.2%202.4l-.3.2c-.8.8-1%201.2-1%201.5v.4c.2.2.5.4%201.3.4h12.6c.8%200%201.1-.2%201.2-.4l.1-.4c0-.3-.2-.7-1-1.5a41%2041%200%2001-.3-.2c-.8-1-1.2-1.5-1.2-2.4V9.6C17.1%206.3%2015%204%2012%204z%22%20fill%3D%22%236f7985%22%2F%3E%3C%2Fsvg%3E);
}
.header-icon__music {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2224%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22M16.7%203.6a17.3%2017.3%200%20011.8-.2c.2%200%20.4.2.5.4v.4l.1%201.3L8.9%207.6v-.5a15.5%2015.5%200%20010-1.4l.5-.5.3-.1%201-.2zm-9.6%2011h-.2a6%206%200%2000-4%201.2c-1%20.8-1.3%201.8-1.3%202.7C1.6%2020.4%203.1%2022%205%2022c.9%200%202-.4%202.7-1.3a6%206%200%20001.2-4V9.5l10.2-2.1v5.2h-.2a6%206%200%2000-4%201.2c-1%20.8-1.3%201.8-1.3%202.7%200%201.9%201.5%203.4%203.4%203.4.9%200%202-.4%202.7-1.3a6%206%200%20001.2-4V5.5%204c0-.4-.2-.8-.4-1.2-.3-.5-.8-1-1.4-1.1-.4-.2-.9-.2-1.3-.1l-1.4.2-6%201.3-1.2.2a3%203%200%2000-.9.5c-.4.3-.7.7-1%201.2a3%203%200%2000-.2%201V7zm9%20.6c-.5.4-.7.9-.7%201.3%200%20.9.7%201.6%201.6%201.6.4%200%201-.2%201.3-.6.4-.5.8-1.4.8-2.9v-.2h-.2c-1.5%200-2.4.4-2.9.8zM3.3%2018.5c0-.4.2-1%20.6-1.3.5-.4%201.4-.8%202.9-.8h.2v.2c0%201.5-.4%202.4-.8%202.9-.4.4-.9.6-1.3.6-.9%200-1.6-.7-1.6-1.6z%22%20fill%3D%22%236f7985%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}
.header-profile {
    height: 47px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 8px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: row;
}
.header-profile:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
.header-profile__name {
    line-height: 32px;
    font-size: 14px;
    margin-right: 10px;
}
.header-profile__avatar {
    margin-right: 10px;
    height: 32px;
    border-radius: 16px;
}
.header-profile__icon {
    height: 32px;
    width: 16px;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20height%3D%228%22%20width%3D%2212%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22M2.156%202.295a.75.75%200%20011.051-.137L6%204.306l2.793-2.148a.75.75%200%2001.914%201.189l-3.25%202.5a.75.75%200%2001-.914%200l-3.25-2.5a.75.75%200%2001-.137-1.052z%22%20fill%3D%22%23aeb7c2%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2px;
}
.main {
    width: 960px;
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}
.aside-left {
    width: 162px;
    margin-left: 8px;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.menu__link {
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    color: black;
    border-radius: 4px;
}
.menu__link:hover {
    background-color: #dfe6ed;
}
.menu__link:before {
    position: absolute;
    content: " ";
    left: -16px;
    top: 9px;
    bottom: 7px;
    width: 16px;
    background: url(../images/common.png) no-repeat 0 -60px;
    opacity: 0;
    transition: opacity .2s ease;
}
.menu__link:hover:before {
    transition-delay: 700ms;
    opacity: 0.5;
}
.menu__icon {
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
}
.menu__icon-1 {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%20height%3D%2220%22%20width%3D%2220%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22M5.835%2015.627C7%2016.49%208.44%2017%2010%2017s3.001-.51%204.165-1.373A8.208%208.208%200%200010%2014.5c-1.52%200-2.943.41-4.165%201.127zm-1.14-1.06a7%207%200%201110.609%200A9.707%209.707%200%200010%2013a9.708%209.708%200%2000-5.304%201.568zM10%201.5a8.5%208.5%200%20100%2017%208.5%208.5%200%20000-17zm-1.5%207a1.5%201.5%200%20103%200%201.5%201.5%200%2000-3%200zm1.5-3a3%203%200%20100%206%203%203%200%20000-6z%22%20fill%3D%22%235181b8%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}
.menu__icon-2 {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2220%22%20width%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22M9.2%203.5h1.6c1.28%200%202.16%200%202.83.06.66.05%201%20.15%201.23.27a3%203%200%20011.31%201.3%203.22%203.22%200%2001.28%201.37H3.55v-.13c.06-.66.16-1%20.28-1.23a3%203%200%20011.3-1.31c.24-.12.58-.22%201.24-.27.67-.06%201.54-.06%202.83-.06zM3.5%208v2.8c0%201.28%200%202.16.06%202.83.05.66.15%201%20.27%201.23a3%203%200%20001.3%201.31c.24.12.58.22%201.24.27.67.06%201.54.06%202.83.06h1.6c1.28%200%202.16%200%202.83-.06.66-.05%201-.15%201.23-.27a3%203%200%20001.31-1.3c.12-.24.22-.58.27-1.24.06-.67.06-1.55.06-2.83V9.2%208zM2%209.2c0-2.52%200-3.78.49-4.74a4.5%204.5%200%20011.97-1.97C5.42%202%206.68%202%209.2%202h1.6c2.52%200%203.78%200%204.74.49a4.5%204.5%200%20011.97%201.97c.49.96.49%202.22.49%204.74v1.6c0%202.52%200%203.78-.49%204.74a4.5%204.5%200%2001-1.97%201.97c-.96.49-2.22.49-4.74.49H9.2c-2.52%200-3.78%200-4.74-.49a4.5%204.5%200%2001-1.97-1.97C2%2014.58%202%2013.32%202%2010.8z%22%20fill%3D%22%235181b8%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}
.menu__icon-3 {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2220%22%20width%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M6.83%2015.75a.75.75%200%2001.82-.2%207.52%207.52%200%20002.6.45c3.77%200%206.75-2.7%206.75-6s-2.98-6-6.75-6S3.5%206.7%203.5%2010c0%201.21.4%202.37%201.14%203.35a.75.75%200%2001.15.49%208.7%208.7%200%2001-1.08%203.13c1.48-.11%202.5-.53%203.12-1.22zM3.24%2018.5a1.2%201.2%200%2001-1.1-1.77A10.74%2010.74%200%20003.26%2014%207%207%200%20012%2010c0-4.17%203.68-7.5%208.25-7.5S18.5%205.83%2018.5%2010s-3.68%207.5-8.25%207.5a9.07%209.07%200%2001-2.66-.4c-1%20.89-2.46%201.34-4.35%201.4z%22%20fill%3D%22%235181b8%22%2F%3E%3C%2Fsvg%3E);
}
.menu__icon-4 {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2220%22%20width%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%235181b8%22%3E%3Cg%20clip-rule%3D%22evenodd%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M6.25%203.5a3%203%200%20100%206%203%203%200%20000-6zm-1.5%203a1.5%201.5%200%20103%200%201.5%201.5%200%2000-3%200zM2.69%2011.57c.96-.55%202.22-.82%203.56-.82s2.6.27%203.56.82c.98.56%201.69%201.47%201.69%202.68%200%20.7-.28%201.3-.78%201.71-.48.39-1.1.54-1.72.54H3.5c-.61%200-1.24-.15-1.72-.54-.5-.4-.78-1-.78-1.71%200-1.21.71-2.12%201.69-2.68zm.75%201.3c-.65.37-.94.84-.94%201.38%200%20.3.1.44.22.54.14.11.4.21.78.21H9c.39%200%20.64-.1.78-.21.12-.1.22-.25.22-.54%200-.54-.29-1-.94-1.38-.66-.39-1.65-.62-2.81-.62s-2.15.23-2.81.62zM13.75%203.5a3%203%200%20100%206%203%203%200%20000-6zm-1.5%203a1.5%201.5%200%20103%200%201.5%201.5%200%2000-3%200z%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22M13.75%2012.25c-.23%200-.45.01-.68.03a.75.75%200%2011-.14-1.49c.27-.03.54-.04.82-.04%201.34%200%202.6.27%203.56.82.98.56%201.69%201.47%201.69%202.68%200%20.7-.28%201.3-.78%201.71-.48.39-1.1.54-1.72.54h-3a.75.75%200%20010-1.5h3c.39%200%20.64-.1.78-.21.12-.1.22-.25.22-.54%200-.54-.29-1-.94-1.38a5.77%205.77%200%2000-2.81-.62z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}
.menu__icon-5 {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2220%22%20width%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22M10%207.75a1.25%201.25%200%20110-2.5%201.25%201.25%200%20010%202.5zM7.25%206.5a2.75%202.75%200%20115.5%200%202.75%202.75%200%2001-5.5%200zm-.5%207.25c0-.42.23-.83.8-1.17A4.82%204.82%200%200110%2012c1.02%200%201.88.23%202.45.58.57.34.8.75.8%201.17%200%20.3-.1.44-.22.54-.14.11-.4.21-.78.21h-4.5c-.39%200-.64-.1-.78-.21-.12-.1-.22-.25-.22-.54zM10%2010.5c-1.23%200-2.37.27-3.23.8-.88.53-1.52%201.37-1.52%202.45%200%20.7.28%201.3.78%201.71.48.39%201.1.54%201.72.54h4.5c.61%200%201.24-.15%201.72-.54.5-.4.78-1%20.78-1.71%200-1.08-.64-1.92-1.52-2.45a6.3%206.3%200%2000-3.23-.8zm4-5.59a.75.75%200%2001.85-.64%202.5%202.5%200%2001-.35%204.98.75.75%200%20010-1.5%201%201%200%2000.14-1.99.75.75%200%2001-.63-.85zM15.76%2010a.75.75%200%20000%201.5c1.16%200%201.75.67%201.75%201.25a.86.86%200%2001-.19.55.57.57%200%2001-.46.2.75.75%200%20000%201.5c1.43%200%202.15-1.21%202.15-2.25%200-1.71-1.6-2.75-3.25-2.75zM5%2010.75a.75.75%200%2000-.75-.75C2.61%2010%201%2011.04%201%2012.75%201%2013.79%201.72%2015%203.15%2015a.75.75%200%20000-1.5.57.57%200%2001-.47-.2.86.86%200%2001-.18-.55c0-.58.6-1.25%201.75-1.25a.75.75%200%2000.75-.75zm.14-6.47a.75.75%200%2001.22%201.48%201%201%200%2000.14%201.99.75.75%200%20110%201.5%202.5%202.5%200%2001-.36-4.97z%22%20fill%3D%22%235181b8%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}
.menu__icon-6 {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2220%22%20width%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22M6.84%2016.44c.76.06%201.74.06%203.16.06%201.42%200%202.4%200%203.16-.06a3.75%203.75%200%20001.43-.32%203.5%203.5%200%20001.53-1.53c.15-.29.26-.69.32-1.43l.03-.63-1.3-1.3c-.3-.3-.5-.5-.67-.64a.86.86%200%2000-.27-.18.75.75%200%2000-.46%200%20.86.86%200%2000-.27.18c-.16.13-.36.33-.67.64l-2.3%202.3a.75.75%200%2001-1.06%200l-.3-.3c-.3-.3-.5-.5-.67-.64a.86.86%200%2000-.27-.18.75.75%200%2000-.46%200%20.86.86%200%2000-.27.18c-.16.13-.36.33-.67.64L4.56%2015.5c.25.24.53.45.85.6.29.16.69.27%201.43.33zm9.39-6.27l.27.27V10c0-1.42%200-2.4-.06-3.16a3.75%203.75%200%2000-.32-1.43%203.5%203.5%200%2000-1.53-1.53%203.75%203.75%200%2000-1.43-.32A43.2%2043.2%200%200010%203.5c-1.42%200-2.4%200-3.16.06-.74.06-1.14.17-1.43.32a3.5%203.5%200%2000-1.53%201.53c-.15.29-.26.69-.32%201.43A43.2%2043.2%200%20003.5%2010c0%201.42%200%202.4.06%203.16.04.47.1.8.17%201.05l2.04-2.04.02-.02c.28-.28.52-.52.74-.7.23-.2.47-.37.77-.47.46-.15.94-.15%201.4%200%20.3.1.54.27.77.46.16.14.34.3.53.5l1.77-1.77.02-.02c.28-.28.52-.52.74-.7.23-.2.47-.37.77-.47.46-.15.94-.15%201.4%200%20.3.1.54.27.77.46.22.19.46.43.74.7zM2.54%204.73C2%205.8%202%207.2%202%2010c0%202.8%200%204.2.54%205.27a5%205%200%20002.19%202.19C5.8%2018%207.2%2018%2010%2018c2.8%200%204.2%200%205.27-.54a5%205%200%20002.19-2.19C18%2014.2%2018%2012.8%2018%2010c0-2.8%200-4.2-.55-5.27a5%205%200%2000-2.18-2.19C14.2%202%2012.8%202%2010%202c-2.8%200-4.2%200-5.27.54a5%205%200%2000-2.19%202.19zM7.25%206a1.25%201.25%200%20100%202.5%201.25%201.25%200%20000-2.5z%22%20fill%3D%22%235181b8%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}
.menu__icon-7 {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2220%22%20width%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14.25%202.05A2.28%202.28%200%200117%204.28v7.99c0%203.57-3.5%205.4-5.39%203.51-1.9-1.9-.05-5.38%203.52-5.38h.37V6.76L7.53%208.43v5.82c0%203.5-3.36%205.34-5.28%203.62l-.11-.1c-1.9-1.9-.06-5.4%203.52-5.4h.37V6.24c0-.64.04-1%20.18-1.36l.05-.13c.17-.38.43-.7.76-.93.36-.26.7-.4%201.41-.54zM6.03%2013.88h-.37c-2.32%200-3.34%201.94-2.46%202.82s2.83-.13%202.83-2.45zm9.47-1.98h-.37c-2.32%200-3.34%201.94-2.46%202.82s2.83-.13%202.83-2.45zm-.02-7.78a.78.78%200%2000-.92-.6L8.58%204.77c-.4.09-.54.15-.68.25a.8.8%200%2000-.27.33c-.08.18-.1.35-.1.88v.67l7.97-1.67v-.95a.76.76%200%20000-.08z%22%20fill%3D%22%235181b8%22%2F%3E%3C%2Fsvg%3E);
}
.menu__icon-8 {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2220%22%20width%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22M10%2017c-3.866%200-7-3.134-7-7s3.134-7%207-7%207%203.134%207%207-3.134%207-7%207zm-8.5-7c0-4.6944%203.8056-8.5%208.5-8.5s8.5%203.8056%208.5%208.5-3.8056%208.5-8.5%208.5-8.5-3.8056-8.5-8.5zm7.25-4a.75.75%200%2000-.75.75v3h-.25a.75.75%200%20000%201.5H8V12h-.25a.75.75%200%20000%201.5H8v.5a.75.75%200%20001.5%200v-.5H11a.75.75%200%20000-1.5H9.5v-.75h1.625c1.4497%200%202.625-1.1753%202.625-2.625C13.75%207.1752%2012.5747%206%2011.125%206zm2.375%203.75H9.5V7.5h1.625c.6213%200%201.125.5037%201.125%201.125s-.5037%201.125-1.125%201.125z%22%20fill%3D%22%235181b8%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}
.menu__icon-9 {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2220%22%20width%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22M7.25%205.75a2.75%202.75%200%20015.5%200V6h-5.5zM5.75%206v-.25a4.25%204.25%200%20018.5%200V6c1.01.02%201.62.08%202.11.33a3%203%200%20011.31%201.3c.33.65.33%201.49.33%203.17v.5c0%202.52%200%203.78-.49%204.74a4.5%204.5%200%2001-1.97%201.97c-.96.49-2.22.49-4.74.49H9.2c-2.52%200-3.78%200-4.74-.49a4.5%204.5%200%2001-1.97-1.97C2%2015.08%202%2013.82%202%2011.3v-.5c0-1.68%200-2.52.33-3.16a3%203%200%20011.3-1.31c.5-.25%201.1-.31%202.12-.33zm-.8%201.54c.43-.04.99-.04%201.85-.04h6.4c.86%200%201.42%200%201.85.04.4.03.56.09.63.12.28.15.51.38.66.66.03.07.1.22.12.63.04.43.04.99.04%201.85v.5c0%201.28%200%202.16-.06%202.83-.05.66-.15%201-.27%201.23a3%203%200%2001-1.3%201.31c-.24.12-.58.22-1.24.27-.67.06-1.55.06-2.83.06H9.2c-1.28%200-2.16%200-2.83-.06-.66-.05-1-.15-1.23-.27a3%203%200%2001-1.31-1.3%203.24%203.24%200%2001-.27-1.24c-.06-.67-.06-1.55-.06-2.83v-.5c0-.86%200-1.42.04-1.85.03-.4.09-.56.12-.63.15-.28.38-.51.66-.66.07-.03.22-.1.63-.12zm.8%202.33a.87.87%200%20111.75%200%20.87.87%200%2001-1.75%200zM13.38%209a.88.88%200%20100%201.75.88.88%200%20000-1.75z%22%20fill%3D%22%235181b8%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
}
.menu__icon-10 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0)%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10.83%203.08a.9.9%200%2000-1.66%200L7.74%206.42a1%201%200%2001-.77.6l-3.12.44a.9.9%200%2000-.44%201.59l2.2%201.77a1%201%200%2001.35.96l-.62%203.32a.9.9%200%20001.46.86l2.56-2.15a1%201%200%20011.28%200l2.56%202.15a.9.9%200%20001.46-.86l-.62-3.32a1%201%200%2001.35-.96l2.2-1.77a.9.9%200%2000-.44-1.6l-3.12-.44a1%201%200%2001-.77-.6l-1.43-3.33zM7.79%202.5a2.4%202.4%200%20014.42%200l1.31%203.08%202.84.4a2.4%202.4%200%20011.17%204.24l-1.96%201.6.57%203.02a2.4%202.4%200%2001-3.9%202.28L10%2015.23%207.77%2017.1a2.4%202.4%200%2001-3.9-2.28l.56-3.03-1.96-1.59a2.4%202.4%200%20011.17-4.24l2.84-.4%201.31-3.08z%22%20fill%3D%22%235181B8%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M0%200h20v20H0z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
}
.separator {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 130px;
    margin-left: 32px;
    height: 1px;
    background-color: #dce1e6;
}
.separator__last {
    width: 162px;
    margin-left: 0;
}
.menu__links-other {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.links-other__link {
    line-height: 19px;
    font-size: 12px;
    color: #939393;
    margin-right: 10px;
    text-decoration: none;
}
.links-other__link:hover {
    text-decoration: underline;
}
.links-other__link-arrow:after {
    display: inline-block;
    content: '';
    width: 13px;
    height: 5px;
    opacity: .65;
    background: url(../images/menu_arrow.png) no-repeat right 0;
    margin-right: -10px;
}
.feed {
    width: 565px;
}
.aside-right {
    width: 230px;
    position: fixed;
    right: 230px;
}
.aside-right-menu {
    background-color: white;
    padding: 4px 0;
    border-radius: 4px;
    box-shadow: rgb(211, 217, 222) 0 1px 0 0, rgb(231, 232, 236) 0 0 0 1px;
    display: flex;
    flex-direction: column;
}
.right-menu__link {
    font-size: 13px;
    vertical-align: center;
    line-height: 31px;
    padding-left: 18px;
    text-decoration: none;
    color: rgb(42, 88, 133);
}
.right-menu__link:hover {
    background-color: rgba(0, 20, 51, 0.06);
}
.right-menu__link-secondary {
    padding-left: 28px;
    color: rgb(101, 101, 101);
}
.right-menu__link--active {
    position: relative;
    color: black;
    border-left: 2px solid #5181b8;
    background-color: rgba(0, 20, 51, 0.06);
}
.right-menu__link--active:before {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 32px;
    height: 32px;
    right: 32px;
    top: 0;
    bottom: 0;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D%22none%22%20height%3D%2220%22%20width%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20d%3D%22M7.5%207.75a1%201%200%20110-2%201%201%200%20010%202zM5.11%206A2.5%202.5%200%20019.9%206h6.36a.75.75%200%20010%201.5H9.89a2.5%202.5%200%2001-4.78%200H3.75a.75.75%200%20010-1.5zm7.39%208.25a1%201%200%20100-2%201%201%200%20000%202zm2.39-1.75a2.5%202.5%200%2000-4.78%200H3.75a.75.75%200%20000%201.5h6.36a2.5%202.5%200%20004.78%200h1.36a.75.75%200%20000-1.5z%22%20fill%3D%22%23818c99%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}
.right-menu__link--active:after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 32px;
    height: 32px;
    right: 10px;
    top: 0;
    bottom: 0;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10%203.25c.41%200%20.75.34.75.75v5.25H16a.75.75%200%20010%201.5h-5.25V16a.75.75%200%2001-1.5%200v-5.25H4a.75.75%200%20010-1.5h5.25V4c0-.41.34-.75.75-.75z%22%20fill%3D%22%23818C99%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}
.right-menu__link--active:hover:before {
    opacity: 1;
}
.emoji {
    margin-bottom: -4px;
}
.right-menu-separator {
    width: calc(100% - 20px);
    margin: 5px 10px;
    height: 1px;
    background-color: #dce1e6;
}
.aside-right-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin-top: 16px;
    background: white;
    border-radius: 4px;
    padding: 4px;
    box-shadow: rgb(211, 217, 222) 0 1px 0 0, rgb(231, 232, 236) 0 0 0 1px;
}
.aside-right-checkbox__icon {
    height: 32px;
    width: 32px;
    margin-left: 10px;
    background: url(../images/interesting.png) no-repeat center left;
}
.aside-right-checkbox__text {
    margin-left: -10px;
    margin-bottom: -2px;
    font-size: 12px;
}
.aside-right-checkbox__switch {
    margin-left: auto;
    margin-right: 10px;
    position: relative;
    width: 28px;
}
.aside-right-checkbox__switch-case {
    position: relative;
    background: rgb(197, 208, 219);
    height: 9px;
    border-radius: 45px;
    width: 28px;
    z-index: 1;
}
.aside-right-checkbox__switch-button {
    position: absolute;
    top: -3px;
    left: -1px;
    height: 15px;
    background: white;
    border-radius: 50%;
    width: 15px;
    transition: left .2s ease;
    z-index: 2;
    border: rgb(197, 208, 219) 1px solid;
}
.aside-right-checkbox input:checked + .aside-right-checkbox__switch-button {
    left: 14px;
}
.hidden {
    display: none;
}
.feed-news {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 16px;
    background: white;
    border-radius: 4px;
    padding: 20px;
    box-shadow: rgb(211, 217, 222) 0 1px 0 0, rgb(231, 232, 236) 0 0 0 1px;
}
.feed-news-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.feed-news-header__image {
    border-radius: 50%;
    margin-right: 20px;
}
.feed-news-header__title {
    color: rgb(147, 147, 147);
    font-size: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.feed-news-header__title-link {
    color: rgb(42, 88, 133);
    text-decoration: none;
    margin-right: 5px;
}
.feed-news-header__title-link:hover {
     text-decoration: underline;
 }
.feed-news-header__title-date {
    width: 100%;
    color: rgb(147, 147, 147);
    text-decoration: none;
}
.feed-news-header__title-date:hover {
    text-decoration: underline;
}
.feed-news-header__arrow {
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20width%3D%2224%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m0%200h24v24h-24z%22%2F%3E%3Cpath%20d%3D%22m6.5%2010%205.5%204.5%205.5-4.5%22%20stroke%3D%22%23c1c5cc%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.875%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E);
}
.feed-news-content {
    font-size: 13px;
    line-height: 19px;
}
.feed-news-content > p, .feed-news-content > ul {
    margin-top: 20px;
}
.feed-news-content > p:first-child {
    margin-top: 10px;
}
.feed-news-content > ul > li {
    margin-left: 20px;
}
.feed-news-content a {
    text-decoration: none;
    color: rgb(42, 88, 133);
}
.feed-news-content a:hover {
    text-decoration: underline;
}
.feed-news-image {
    margin-top: 10px;
    width: 100%;
    height: auto;
}
.feed-news-separator {
    width: 100%;
    margin: 20px 0;
    height: 1px;
    background-color: #dce1e6;
}
.feed-news-link {
    display: block;
    border-left: 2px solid #c5d0db;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    margin-top: 5px;
}
.feed-news-link > span {
    display: block;
}
.feed-news-link > span:first-child {
    font-weight: bold;
    line-height: 18px;
    font-size: 12px;
    color: rgb(69, 104, 142)
}
.feed-news-link:hover > span:first-child {
    text-decoration: underline;
}
.feed-news-link > span:last-child {
    color: rgb(101, 101, 101);
    font-size: 12px;
    margin-top: 5px;
}
.feed-news-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -5px;
}
.feed-news-icons > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}
.feed-news-icons > div:last-child {
    margin-left: auto;
}
.feed-news-icons__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}
.feed-news-icons > a:hover .feed-news-icons__icon {
    opacity: 1;
}
.feed-news-icons__text {
    font-size: 14px;
    margin-left: 5px;
    color: rgb(98, 109, 122);
}
.icon_1 {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Ctitle%3Elike_outline_24%3C%2Ftitle%3E%3Cpath%20d%3D%22M0%2C0H24V24H0Z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22M17%2C2.9A6.43%2C6.43%2C0%2C0%2C1%2C23.4%2C9.33c0%2C3.57-1.43%2C5.36-7.45%2C10l-2.78%2C2.16a1.9%2C1.9%2C0%2C0%2C1-2.33%2C0L8.05%2C19.37C2%2C14.69.6%2C12.9.6%2C9.33A6.43%2C6.43%2C0%2C0%2C1%2C7%2C2.9a6.46%2C6.46%2C0%2C0%2C1%2C5%2C2.54A6.46%2C6.46%2C0%2C0%2C1%2C17%2C2.9ZM7%2C4.7A4.63%2C4.63%2C0%2C0%2C0%2C2.4%2C9.33c0%2C2.82%2C1.15%2C4.26%2C6.76%2C8.63l2.78%2C2.16a.1.1%2C0%2C0%2C0%2C.12%2C0L14.84%2C18c5.61-4.36%2C6.76-5.8%2C6.76-8.63A4.63%2C4.63%2C0%2C0%2C0%2C17%2C4.7c-1.56%2C0-3%2C.88-4.23%2C2.73L12%2C8.5l-.74-1.07C10%2C5.58%2C8.58%2C4.7%2C7%2C4.7Z%22%20fill%3D%22%23828a99%22%2F%3E%3C%2Fsvg%3E);
}
.icon_2 {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22m7.84%2022.53a2%202%200%200%201%20-.74-1.53v-2.1h-1.6a3.26%203.26%200%200%201%20-3.4-3.4v-9a3.26%203.26%200%200%201%203.4-3.4h13a3.26%203.26%200%200%201%203.4%203.4v9a3.26%203.26%200%200%201%20-3.4%203.4h-4.66l-3.72%203.26a1.69%201.69%200%200%201%20-2.28.37zm4.93-5.09a1.4%201.4%200%200%201%20.92-.35h4.81a1.47%201.47%200%200%200%201.6-1.6v-9a1.47%201.47%200%200%200%20-1.6-1.6h-13a1.47%201.47%200%200%200%20-1.6%201.61v9a1.47%201.47%200%200%200%201.6%201.6h2.5c.7.2.7.2.9.9v2.83z%22%20fill%3D%22%23828a99%22%2F%3E%3C%2Fsvg%3E);
}
.icon_3 {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m0%200h24v24h-24z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22m12.1%207.87v-3.47a1.32%201.32%200%200%201%202.17-1l8.94%207.6a1.32%201.32%200%200%201%20.15%201.86l-.15.15-8.94%207.6a1.32%201.32%200%200%201%20-2.17-1v-3.45c-4.68.11-8%201.09-9.89%202.87a1.15%201.15%200%200%201%20-1.9-1.11c1.53-6.36%205.51-9.76%2011.79-10.05zm1.8-2.42v4.2h-.9c-5.3%200-8.72%202.25-10.39%206.86%202.45-1.45%205.92-2.16%2010.39-2.16h.9v4.2l7.71-6.55z%22%20fill%3D%22%23828a99%22%2F%3E%3C%2Fsvg%3E);
}
.icon_4 {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20height%3D%2210%22%20viewBox%3D%221%202%2014%2010%22%20width%3D%2214%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22fill%3A%23828a99%3B%22%3E%3Cpath%20d%3D%22m8%2012c-4.2%200-7-4-7-5s2.8-5%207-5%207%204%207%205-2.8%205-7%205zm0-1.5c1.9%200%203.5-1.6%203.5-3.5s-1.6-3.5-3.5-3.5-3.5%201.6-3.5%203.5%201.6%203.5%203.5%203.5zm0-1.9c-.9%200-1.6-.7-1.6-1.6s.7-1.6%201.6-1.6%201.6.7%201.6%201.6-.7%201.6-1.6%201.6z%22%2F%3E%3C%2Fsvg%3E);
}
.feed-news-icons > div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
}